<!-- Page heading -->
<h1 class="pb-4">Explore Categories</h1>

<!-- Breadcrumb navigation -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
    <li class="breadcrumb-item active" aria-current="page">Explore Categories</li>
  </ol>
</nav>

<!-- Display categories in a grid layout -->
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 mb-4">
  <!-- Check if paintings in a specific category exist and iterate through them -->
  <% if(typeof categories !=='undefined' && categories.length> 0) { %>

    <% categories.forEach(function(category, index) { %>
      <!-- Link to the individual painting page with painting image and name -->
      <a href="/categories/<%- category.name %>" class="col text-center category__link">
        <div class="category__img shadow">
          <img src="/img/<%- category.image %>" alt="<%- category.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%- category.name %></div>
      </a>
      <% }) %>
        <% } %>
</div>


<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <% if(typeof categoryById !=='undefined' && categoryById.length> 0) { %>
    <% categoryById.forEach(function(painting, index){ %>
      <a href="/painting/<%= painting._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= painting.image %>" alt="<%= painting.name %>" loading="lazy">
        </div>
        <div class="pt-1">
          <%= painting.name %>
        </div>
      </a>
      <% }) %>
        <!-- Display a message if no items are found -->
        <% } else { %>
          <p>No items found.</p>
          <% } %>
</div>